<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/GTP</property>
    <property name="hibernate.connection.username">gtp</property>
    <property name="hibernate.connection.password">gtp</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.jdbc.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="com/mycompany/gtp/Cuenta.hbm.xml"/>
    <mapping resource="com/mycompany/gtp/Usuario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
